.home{
    // font-size: 20px;
    display: flex;
    justify-content: baseline;
    align-items: center;
    .main_content{
        height: 100vh;
        // background-color: lightgray;
        flex: 5;
        overflow-y: scroll;
        
    }
}