.navbar{
    background-color: #172e6d !important;
    box-shadow: none !important;
    z-index: 2 !important;
    // width: 100% !important;
    

    .avtar{
        background-color: rgba(91, 76, 104, 0.767);
    }

    .menu{
        &:hover{
        color:rgba(243, 241, 245, 0.767) !important;
        }
    }
}